@charset "UTF-8";


:root {
    --primeiracor:rgb(136, 134, 134);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body {
    background-image: url(https://i.pinimg.com/474x/0b/bf/f9/0bbff9c56cbb387eecb6d300933dd576.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.tabela {
    display: flex;
}
.container {
    max-width: 640px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(219, 150, 20);
}
.imc {
    padding-left: 30px;
    margin: 4px;
    padding-bottom: 50px;
}
.imcdolado {
    padding-left: 0px;
    padding-top: 0px;
    margin: 3px;
}
.container h1 {
    padding-bottom: 15px;
}
.imc h2{
    font-size: 1em;
    padding-bottom: 0px;
}
.container h2 {
    padding-bottom: 20px;
}
form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input {
    font-size: 24px;
    height: 40px;
    padding: 0px 20px;
}
form input:focus {
    outline: 1px solid red;
}
form button {
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
form button:hover {
    background-color: rgba(0, 0, 0, 0.342);
}
form button:active {
    background-color: red;
}
.resultado p {
    background-color: aqua;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
@media (max-width: 950px) {
    .imc {
        padding-left: 0px;
        margin: 0px;
        padding-bottom: 30px;
        padding-top: 40px;
    }
    .imc h2{
        font-size: 1.2em;
    }
    .imc p {
        padding-bottom: 5px;
    }
    .imcdolado {
        padding-left: 23px;
        padding-top: 30px;
        margin: 10px;
    }
    .imcdolado h2{
        font-size: 1.3em;
    }
    .imcdolado p {
        padding-top: 0px;
        padding-bottom: 5px;
    }
}